blanco = #fff
gris = #ededed
rojo = #961a1a
cyan = #057091

@import 'nib'
vendor-prefixes = o ms moz webkit official

html,body
	font-family 'Open Sans', sans-serif
	font-size 16px

html,body,.cabecera
	height 100%

footer
	background cyan
	height 10px
	width 100%
.cabecera
	background url('../img/studio.jpg') no-repeat center center fixed
	background-size cover
	background-color rgba(0,0,0,0.8)
	position relative
	text-align center
	#nombre
		transform translateY(-50%)
		top 45%
		position relative
		margin 0
		padding 0
		img
			display block
			max-width 330px
			margin 0 auto
			width 70%
	.menuDark
		background cyan !important
		transition all ease .8s
	.menu
		background rgba(0,0,0,0.3)
		bottom 0 
		position fixed
		width 100%
		z-index 100
		transition all ease .5s
		#menuIco
			font-size 2em
			color blanco
			display none
		.botonera
			text-align left
			display inline-block
			vertical-align top
			width 60%
			ul
				list-style none
				margin 0
				padding 0
				li
					display inline-block
					vertical-align top
					margin 1em 1em 
					a
						color gris
						text-decoration none
		.redes
			display inline-block
			vertical-align top
			width 30%
			a
				color blanco	
				font-family sans-serif
				padding 1em .5em
				text-decoration none
				i
					font-size 26px
					padding 1em 0 .5em .25em 
.contacto
	margin 0 auto
	padding 0 0 5em 0 
	width 80%
	form
		.campo
			display block
			margin 1em 0
			label
				display block
				margin .5em 0
				font-size 1.2em
				color rojo
			input
			textarea
				border 1px solid cyan
				border-radius .25em
				display block
				font-size 1em
				padding .5em 0 .5em .25em
				width 100%
			textarea
				height 90px
		#enviar
			background rojo
			border 0
			border-radius .25em
			color blanco
			display block
			padding .7em 0
			width 30%


.info
	margin 0 auto
	width 90%
	.infoPersonal
		display inline-block
		vertical-align top
		width 48%
		h1
			color rojo
			font-size 3em
		ul
			li
				a
					color cyan
					&:hover
						color rojo
			span
				color cyan
				font-size 1.2em
	.experiencia
		display inline-block
		padding 2em 0 0 0
		text-align right
		vertical-align top
		width 48%
		h2
			color cyan
.trabajos
	padding 2em 0
	text-align center
	h2
		font-size 2em
		color rojo
	.row
		margin 0 0 1.5em 0
		width auto
	.trabajo
		background blanco
		display inline-block
		height 100%
		margin 0 0 0 -4px
		position relative 
		vertical-align top
		width 50%
		figure
			display inline-block
			height 100%
			margin 0 
			padding 0
			overlay hidden
			position relative
			width 50%
			&.fotoSec
				margin 0 0 0 -4px
			img
				width 100%
			.overlay
				background rgba(0,0,0,0.6)
				bottom 0 
				position absolute
				transition all ease 0.6s
				top 0
				top 0
				width 100%
				p
					color blanco
					opacity 0
					font-weight 600
					text-shadow 1px 1px 3px rgba(0,0,0,0.5)
					&.prin
						font-size 1.5em
					&.sec
						font-size 1.2em
		.infoProyecto
			display inline-block
			height 100%
			vertical-align top
			width 49.2%
			h3
				color cyan
				font-size 1.2em
				margin 10% auto 5%	 auto
				width 80%
			&.infoSec
				margin 0 0 0 -4px
			p
				font-size 1em
				color #969696
				margin 0 auto
				width 80%
			.verProyecto
				border 1px solid cyan
				border-radius 25px
				color cyan
				display inline-block
				margin .5em auto
				padding 7px 20px 5px
				text-transform uppercase
				transition all ease 0.2s
				&:after
					content '›'
					display inline-block
					font-size 0
					line-height: 5px;
					top: -3px;
					margin-left: 0;
					position: relative;
					opacity 0
					transition all ease-in-out 0.2s
					vertical-align baseline
			&.infoDerecha:before
				content ' '
				display block
				position absolute
				z-index 99
				top 50%
				margin-left -15px
				margin-top -15px
				width 0
				height 0
				border-top 15px solid transparent
				border-bottom 15px solid transparent
				border-right 15px solid blanco
			&.infoIzquierda:after
				content ' '
				display block
				position absolute
				z-index 99
				top 50%
				right 48%
				margin-top -15px
				width 0
				height 0
				border-top 15px solid transparent
				border-bottom 15px solid transparent
				border-left 15px solid blanco
		&:hover
			transition all ease 0.6s
			position relative 
			z-index 80
			a
				color red
				infoProyecto
					color cyan
				figure
					box-shadow 0 0 15px rgba(0,0,0,0.8)
					.overlay
						background none
				.infoProyecto
					transition all ease 0.2s	
					.verProyecto
						background cyan
						color blanco
						&:after
							display inline-block
							content '›'
							font-size 2em
							top: 3px;
							margin-left: 16px;
							transition all ease-in-out  0.2s
							opacity 1
				.infoDerecha:before
					transition all ease 0.6s
					opacity 0
				.infoIzquierda:after
					transition all ease 0.6s
					display none


@media (max-width: 769px)
	.trabajos
		.trabajo
			width 38%

@media (max-width: 640px)
	.cabecera
		background-size cover;	
		.menu
			#menuIco
				padding .5em 0 0 0
				display inline-block
				cursor pointer
				margin  0
			.botonera
				background #000;
				display none
				padding .5em 0
				width 100%
				ul
					li
						display block
						text-align center
						a
							font-size 1.5em	
			.redes
				font-size 3em
				padding .5em 0 0 0
				vertical-align top
				width 70%
				a
					padding 0
					margin 0 .5em 

					vertical-align top
					i
						padding 0
						vertical-align top
	.info 
		.infoPersonal
			display block
			margin 0 auto
			width 90%
		.experiencia
			display block
			margin 0 auto
			width 90%
			text-align center


@media (max-width: 640px)
	.info
		.infoPersonal
			h1
				font-size 2em
	.trabajos
		.trabajo
			figure
				a
					.overlay
						.prin
							font-size 1em
						.sec
							font-size 0.8em
			p
				font-size 1em


@media (max-width: 440px)
	.trabajos
		.trabajo
			width 65%
	.info
		.experiencia
			text-align left


	.contacto
		margin 0 auto
		padding 0 0 2em 0 
		width 95%
